body {
    background-image: url(background_image/coffeeboj.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-color: black;
}

.wrapper {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 80%;

}

/*START HEADER*/

.header {
    background-color: #9E3903;
    background-size: 100% 100%;
    height: 180px; 
    padding: 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    
}

.header__name {
    color: #201A06;
    font-size: 100px;
    letter-spacing: 20px;
    text-shadow: 3px 2px #AA8604;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

/*END HEADER*/

/*MENU START*/
.main-menu {
    background-color: #201A06;
    color: #DC7741;
    height: auto;
    text-align: center;
    padding: 0.25%;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu__dropdown-link {
    color: #DC7741;
    text-decoration: none;
    display: block;
    text-align: center;
    border: 2px solid #DC7741;
    background-color: #201A06;
    border-radius: 5px;
    width: 180px;
    font-size: 15px;
    font-weight: bold;
    
}

.menu__dropdown-link:hover {
    display: block;
    color: #f9f9f9;
    background-color: #8c6c02;;
    text-align: center;
}

.menu__dropdown {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: none;
    z-index: 1;
    position: absolute;
}

.menu__item {
    list-style-type: none;
    display: inline-block;
    color: #DC7741;
    font-size: 15px;
    border: 2px solid #DC7741;
    letter-spacing: 2px;
    width: 15%;
    border-radius: 5px;
}

.menu__link {
    color: #DC7741;
    font-size: 15px;
    text-decoration: none;
    display: block;
    padding: 2% 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.menu__link:hover {
    background-color: #8c6c02;
}

.menu__item--drop:hover .menu__dropdown {
    display: block;
}

/*MENU END*/

.main {
    background-color: white;
    display: inline-block;
  
}

/*ASIDE START*/

/*CITATI START*/
.main-sidebar {
    margin-top: 4%;
    padding: 1%;
    width:30%;
    float: left; 
    background-color: #ffffff;
    margin-bottom: 10%;
}

@font-face {
    font-family: Caveat-Bold;
    src: url(fonts/Caveat-Bold.ttf);
}

.sidebar-fun {
    padding: 10px;
    text-align: justify;
    font-family: Caveat-Bold;
    font-size: 20px;

}

.sidebar-fun__image {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    margin-top: 5%;
}

.sidebar-fun__citati {
    padding-top: 0px;
    margin-top: 0px;
}

.sidebar-fun__citati--poznati {
    text-align: right;
    font-size: 15px;
    margin-right: 80px;
    display: block;
}

.sidebar-fun__citati--izjava {
    font-size: 22px;
    color: #9E3903;
    text-decoration: bold;
}

/*CITATI END*/

@font-face {
    font-family: muli;
    src: url(fonts/Muli.ttf);
}

/*LINKOVI START*/
.sidebar-links {
    margin-top: 15%;
    margin-left: 11%;
}

.sidebar-links__opis {
    font-family: muli;
    font-size: 17px;
    color: #201A06;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.sidebar-links__stranice {
    list-style-type: none;
    margin-top: 0px;
}

.sidebar-links__stranice-link {
    font-size: 15px;
    text-decoration: none;
    letter-spacing: 1px;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 7%;
    font-family: muli;
    font-weight: bold;
    font-style: italic;
}

.sidebar-links .sidebar-links__stranice-link:link {
    background-color: #ffffff;
    color: #201A06;
}

.sidebar-links .sidebar-links__stranice-link:visited {
    background-color: #ffffff;
    color: #7f643c;
}

.sidebar-links .sidebar-links__stranice-link:hover {
    background-color: #201A06;
    color: #DC7741;
}

.sidebar-links .sidebar-links__stranice-link:active {
    color: #b30000
}
/*LINKOVI END*/
/*ASIDE END*/

/*MAIN START*/
/*DESCRIPTION START*/
.content {
    font-family: muli;
    background-color: #ffffff;
    padding: 5%;
    width: 58%;
    float: right;
}

.description__opis {
    text-align: justify;
    color: #312809;
} 

.description__opis--bold {
    font-weight: bold;
}

.description__naziv {
    font-size: 35px;
    text-align: center;
    color: #201a06;
    text-shadow: 2px 1px #AA8604;
    padding-bottom: 2%;
}

.description__image {
    float: right;
    display: block;
    margin: 4%;
}

.description__opis--italic {
    font-style: italic;
}

.description__opis--podvuceno {
    text-decoration-line: underline;
}

/*DESCRIPTION END*/

/*START ANKETA*/


.anketa-item {
    border: 4px ridge #9E3903;
    font-family: muli;
    border-radius: 10px;  
}

.anketa-item__name {
    color: #9E3903;
    font-family: muli;
    text-shadow: 1px 1px rgb(114, 90, 2);
    font-size: 20px;
}

.label-name {
    font-weight: bold;
}

.label-name--color {
    color: #9E3903;
}

.label-name--right {
    margin-right: 1%;
}

.label-name--padding {
    display: block;
    padding: -5px;
}

/*FORM START*/
input[type=text], input[type=email], input[type=number] {
    border: #201a06 groove 2px;
    border-radius: 3px;
}

input[type=text]:focus, input[type=email]:focus, input[type=number]:focus {
    border: #d1a208 groove 4px;
    border-radius: 3px;
}

textarea {
    box-sizing: border-box;
    border: #201a06 groove 2px;
    border-radius: 5px;
    background-color: #e7dcb9;
}

 select{
    width: 50%;
    border: #201a06 thin 1px;
    border-radius: 4px;
    background-color: #DC7741;
    color: #201a06;
 }

 select optgroup[label]  {
     background-color:#201a06;
     color: #DC7741;

 }

 option {
    background-color: #e7dcb9;
    color: #201a06;
 }


 .anketa-upitnik__item {
     list-style-type: none;
     color: #DC7741;
     font-weight: bold;
     margin-top: 15px;
     margin-bottom: 5px;
 }
  
input[type=submit] {
    border: 4px ridge  #9E3903;
    border-radius: 8px;
    color: #201a06;
    background-color: #e7dcb9;
    padding: 5px;
    width: 150px;
    margin-top: 5px;
    margin-bottom: 25px;
    text-align: center;
    cursor: pointer;
  
}

input[type=submit]:hover {
    background-color: #DC7741;
}


/*END ANKETA*/
.content-audiovideo {
    float: left;
    width: 50%;
    text-align: center;
    margin-top: 3%;
}

.content-clickme {
    float: right;
    width: 50%;
}



.content-clickme__image-img {
    float: right;
    margin-right: 15%;
    margin-top: 5%;
    
    width: 52%;
}

.content-clickme__button {
    margin-left: 18%;
    margin-bottom: 0;
}

.content-clickme__button-btn {
    display: block;
    background-color: #ffffff;
    border: 1px solid #9E3903;
    border-radius: 50%;
    color: #9E3903;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.content-clickme__button-btn:hover {
    background-color:#DC7741; 
    color: #9E3903;
}


/*MAIN END*/

/*FOOTER START*/
.footer {
    border: 1px solid #201A06;
    display: block;
    height: 130px;
    background-color:#201A06;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    margin-top: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.footer__contact-mail {
    color: #ffffff;
}

.footer__copyright--small {
    font-size: small;
}
/*FOOTER END*/

